{# utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}Nouvelle publication{% endblock %}


{# Contenu de la page #}
{% block body %}

    {# grille bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">
            <h1 class="col-12 text-center my-5">Nouvelle publication</h1>
        </div>


        <div class="col-12 col-md-8 mx-auto">
            {{ form( CreateArticleFormType ) }}
        </div>


    </div>

{% endblock %}


